[package]
name = "{{crate_name}}"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
fprime_core = "{{crate_version}}"

[build-dependencies]
fprime_build = "{{crate_version}}"

[lib]
test = false
bench = false

[[bin]]
name = "{{sequence}}"
test = false
bench = false

# Optimized for smallest size
[profile.release]
lto = true
opt-level = "s"
codegen-units = 1
panic = "abort"
debug = false
strip = true
