//! TODO `{{sequence}}` sequence docs.

#![no_std]
#![no_main]

use {{lib_name}}::*;

#[fprime_main]
pub fn main() {
    // `Checked` panics the sequence command does not return `OK`.
    set_fail_mode(FailMode::Checked);

    todo!()
}
