{
    "rust-analyzer.completion.autoAwait.enable": false,
    "rust-analyzer.completion.addColonsToModule": false,
    "rust-analyzer.completion.excludeTraits": [
        "core::convert::TryInto",
        "core::convert::Into",
        "core::any::Any",
        "alloc::borrow::ToOwned",
        "core::cmp::PartialEq",
        "core::clone::Clone"
    ],
    "rust-analyzer.completion.callable.snippets": "fill_arguments",
    "rust-analyzer.completion.autoself.enable": false,
    "rust-analyzer.completion.postfix.enable": false,
    "rust-analyzer.completion.autoimport.enable": false
}